<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hoge
    </div>
  </div>
  <div class="right-header">
   <div class="header-button">
     <a href="#">チャット終了する</a>
   </div>
  </div>
</div>

<div class="message">
  <div class="message-content">
    <div class="user-content">
      <div class="user-name">
         yusuke
      </div>
      <div class="time">
        2020/12/24(sun)12:12:12
      </div>
    </div>
    <div class="user-content">
      <div class="tweet-text">
      hello
    </div>
      </div>
  </div>
  <div class="message-content">
    <div class="user-content">
      <div class="user-name">
         yusuke
      </div>
      <div class="time">
        2020/12/24(sun)12:12:12
      </div>
    </div>
    <div class="user-content">
      <div class="tweet-text">
      hello
    </div>
      </div>
  </div>
</div>








<div class="form">
  <div class="form-input">
   <input  placeholder="type a message" class="tweet-form">
   <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send">
 
</div>
　