.wrapper{
  display:flex;
  }

.side-bar{
  width:300px;
  background-color: #2F3E51;
  height:100vh;
  
}


.side-bar-header{
  background-color: #253141;
  width: 300px;
  height:100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-name{
  color:#FAFAFA;
  font-size: 16px;
}
.create-room{
  color:deepskyblue;
  font-size: 10px;
  border:solid lightblue 1px;
  padding:14px ;
}




.rooms{
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room{
  margin: 20px 0 40px 0;
}
.room-name a {
  color:white;
  text-decoration: none;
}




.main-chat{
  width:calc(100vw - 300px);
  height:100vh;
  background-color: #ffffff;
}

.chat-header{
  background-color: #FFFFFF;
  height:100px;
  width: calc(100vw - 300px);
  padding: 0 40px ;
  display:flex;
  justify-content: space-between;
  }
.chat{
 display:flex;
 justify-content: space-between;
}
.header-title{
  color:#333;
  font-size:24px;
  margin: 36px;
}
.header-button{
  margin:40px 0 0 0
}

.header-button a {
  color:darkred;
  border:solid 1px darkred;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}
.message{
  background-color: #FAFAFA;
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
  }
.message-content{
  margin-bottom:40px;
}
.user-content{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  
}
.user-name{
  font-size: 16px;
  color:#434A54;
  
}
.time{
  font-size: 12px;
  color:#999;
  margin-left:10px;
}
.tweet-text{
  font-size:14px;
  color:#434A54;
  margin-top: 10px;
}

.form{
  display: flex;
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}
.form-input{
  background-color: white;
  display: flex;
  width: 100%;
}
.form-message{
  height: 50px;
  padding-left: 10px;
  border: none;
  width: 100%;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  align-items: center;
}
.form-submit{
  background-color: #38AEF0;
  color:white;
  font-size:16px;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  border:none;
}
.hidden{
  display: none;
}
