.wrapper{
  display:flex;
  }

.side-bar{
  width:300px;
  background-color: #2F3E51;
  height:100vh;
  
}


.side-bar-header{
  background-color: #253141;
  width: 300px;
  height:100px;
  padding: 0 20px;
}
.rooms{
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
}





.main-chat{
  width:calc(100vw - 300px);
  height:100vh;
  background-color: #ffffff;
  

}

.header{
  background-color: #FFFFFF;
  height:100px;
  width: calc(100vw - 300px);
  padding: 0 40px ;
  
}
.message{
  background-color: #FAFAFA;
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  
}
.form{
  background-color: #DDDDDD;
  width: calc(100vw - 300px);
  height: 90px;
  padding:20px 40px;
  
}